header,
section,
footer,
aside,
nav,
article,
figure,
figcaption {
    display: block;
}

body {
    color: #666666;
    background-color: #f9f8f6;
    background-image: url('https://s3.envato.com/files/288247026/15-05-19_575.jpg');
    background-position: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.em;
    margin: 0px;
}

.wrapper {
    width: 980px;
    margin: 20px auto 20px auto;
    border: 2px solid #000000;
    background-color: #ffffff;
}

header {
    height: 150px;
    background-image: url('https://thumbs.dreamstime.com/b/gray-wall-texture-surface-loft-style-decoration-abstract-dark-background-grunge-gray-wall-texture-rough-cement-surface-loft-style-178861266.jpg');
}

h1 {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
    height: 150px;
    margin: 0px;
}

nav,
footer {
    clear: both;
    color: lightslategray;
    background-color: lightgray;
    height: 30px;
}

nav ul {
    margin: 0px;
    padding: 5px 0px 5px 30px;
}

nav li {
    display: inline;
    margin-right: 40px;
}

nav li a {
    color: #ffffff;
}

nav li a:hover,
nav li a.current {
    color: #000000;
}

section.premenu1 {
    margin-top: 20px;
    float: left;
    width: 670px;
    border-right: 1px solid #eeeeee;
}

article {
    clear: both;
    overflow: auto;
    width: 100%;
}

hgroup {
    margin-top: 40px;
}

figure {
    float: left;
    width: 300px;
    height: 250px;
    padding: 5px;
    margin: 20px;
    border: 1px solid #eeeeee;
}

figcaption {
    font-size: 90%;
    text-align: left;
}

aside {
    width: 250px;
    float: left;
    padding: 0px 0px 0px 20px;

}

aside section a {
    display: block;
    padding: 10px;
    border-bottom: 2px solid #eeeeee;
}

aside section a:hover {
    color: rgb(114, 57, 83);
    background-color: #efefef;
}

a {
    color: #de6581;
    text-decoration: none;
}

h1,
h2,
h3 {
    font-weight: normal;
}

h2 {
    margin: 10px 0px 5px 10px;
    padding: 0px;
}

h3 {
    margin: 0px 0px 10px 0px;
    color: #de6581;
}

aside h2 {
    padding: 30px 0px 10px 0px;
    color: #de6581;
}

footer {
    font-size: 80%;
    padding: 7px 0px 0px 20px;
}

p {
    margin: 10px 0px 5px 10px;
    padding: 5px;
}